################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ObjectCodeExporter/v15
/packages
/ObjectCodeExporter.Visualizer/obj
/ObjectCodeExporter.Visualizer/bin/Debug
/ObjectCodeExporter.test/obj
/ObjectCodeExporter.test/bin/Debug
/ObjectCodeExporter.Package/obj
/ObjectCodeExporter.Package/bin/Debug
/ObjectCodeExporter/obj
/ObjectCodeExporter/bin/Debug
